.resident-notice-container {
  align-items: center;
  color: #333;
  }
  
  .resident-notice-container h3 {
    margin: 0;
    padding: 0;
  font-size: 22px;
  padding-bottom: 10px;
  }
  .resident-notices-list {
    text-align: center;
  }

  .resident-notices-grid {
    display: grid;
    column-gap: 50px;
    margin-top: 0px;
    grid-template-columns: repeat(3, 1fr);
  }

  .resident-notice-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    width: 100%;
    text-align: left;
  }

  .resident-notice-card h4{
    margin: 0;
    font-size: 18px;
  }

  .resident-notice-card p{
    margin: 5px 0 0;
    font-size: 14px;
  }
  
  .resident-notice-img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
  }
  